.offers{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: calc( 100vh - 7.2vh ); 
    padding: 1rem 15rem;
    background-color: lightblue;
    font-size: 1.5rem;
}

.offer-edit{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 2rem; 
    background-color: lightcyan;
    border: 0.0625rem solid darkgoldenrod;
    border-radius: 0.5rem;
}

.offer-edit input{
    background-color: lightblue;
    border: 0.0625rem solid darkgoldenrod;
    max-width: 10rem;
    border-radius: 1rem;
    padding: 0.25rem 0 0.25rem 0.75rem; 
    outline: none;
}

.offer-edit > button {
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem; 
    background-color: lightblue;
    border: 0.0625rem solid darkgoldenrod;
    border-radius: 1rem;
}
