@page "/counter"
@using ProjetsJo.Entites;

<PageTitle>Page Administrateur</PageTitle>

<div>
    @foreach (Offer offer in Offers)
    {
        <div class="offer-edit">
            <input type="text" @bind="@offer.Name" />
            <input type="number" min="1" @bind="@offer.Quantity" />
            <input type="number" min="0.00" step="0.01" @bind="@offer.Price" />
        </div>
    }
</div>

@code {
    private List<Offer> Offers = new List<Offer>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        for (int i = 0; i < 3; i++)
        {
            Offers.Add(new Offer(i, $"Offer number {i}", i, (decimal)(i+1)*10));
        }
    }
}
