.page {
    position: relative;
    display: flex;
    flex-direction: column;
}
/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: #CBB681;
    border-bottom: 0.0625rem solid #E9DDBE;
    background-color: #16110F;
}

.header:first-child {
    padding-left: 2rem;
}

.connexion {
    padding-right: 2rem;
}

.connexion > span {
    background-color: #CBB681;
    padding: 0.25rem 0.75rem;
    border-radius: 1.5rem;
    color: #16110f;
    font-family: "Arial";
    font-size: 1rem;
}

/* NAV MENU*/

.sidebar {
    height: auto;
    width: 250px;
    position: fixed;
    top: 10vh;
    border-radius: 0 0 0.9375rem 0;
    background-image: linear-gradient(260deg, #CBB681 0%, #785F37 80%);
    z-index: 10;
}

/* BODY */

main {
    flex: 1;
}

.content {
    height: calc(100vh - 10vh);
    background-color: #E9DDBE;
}


.collapse {
    display: none
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
