.page {
    position: relative;
    display: flex;
    flex-direction: column;
}
/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.2vh;
    color: #000000;
    background-color: cornflowerblue; 
    border-bottom: 0.0625rem solid #E9DDBE;
}

.nav-buttons{
    display: flex;
    gap: 2rem;
    font-size: 1.75rem;
}

.header > .nav-buttons > button:first-child {
    font-size: 1.25rem;
    padding-left: 2rem;
}

.img-header {
    position: absolute;
    left: 43%;
    height: 7.2vh;
    width: 18rem;
}

.connexion {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem; 
    padding-right: 2rem;
}

.log-out {
    background-color: #CBB681;
    padding: 0.25rem 0.75rem;
    color: #16110f;
    font-family: "Arial";
    font-size: 1rem;
}

/* NAV MENU*/

.sidebar {
    height: auto;
    width: 250px;
    border-radius: 0 0 0.9375rem 0;
    position: relative;
    background-color: #0055A4;
}

/* BODY */

main {
    flex: 1;
}

.body-zone {
    display: flex;
    flex-direction: row;
    height: 92.8vh;
}

.collapse {
    display: none
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
