@using ProjetsJo.Entites;
@using ProjetsJo.Authentication;
@using ProjetsJo.Pages;
﻿@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject IDialogService DialogService
@inject ISnackbar Snackbar
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>ProjetsJo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <h1>Header of the application</h1>
        <article class="content">
            @Body
        </article>
    </main>
</div>
