<div @onclick="CollapseMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Acceuil
            </NavLink>
        </div>
        <AuthorizeView Roles="Administrateur">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Administration">
                        <span class="oi oi-plus" aria-hidden="true"></span> Administration
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    [Parameter]
    public EventCallback<bool> OnClickCallback { get; set; }

    protected async Task CollapseMenu()
    {
        await OnClickCallback.InvokeAsync();
    }
}

